body {
    background-color: rgb(244, 244, 244);
}

/* Fade in for page content https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
.content-section {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Navbar Style*/
.navbar{ background: #000000;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.navbar-brand:hover{ background: #f4f4f4; color: #000000; }
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #000000; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background: url(/Steve-Earle.github.io/images/hamburger.png) !important; background-position: center}

.overlay{
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: url(/Steve-Earle.github.io/images/headerback.jpg);
   }

/*Main page header description styles*/
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.description h1{
 color:#000000 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #000000;
 background: #000000;;
 color:#fff;
}